* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    color: #fff;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

sup  {
    color: red;
}

.main-nav,
.drop-nav {
    background: #2c3e50;
}

.main-nav {
    float: right;
    position: fixed;
    width: 100%;
    padding: 0;
    font-weight: bold;
}
   
.main-nav  a:hover {
    color: black;
}

.main-nav > li:hover {
    background-color: lightgrey;
}

.main-nav > li {
    float: left;
    height: 100%;
}
    
.main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    height: 100%;
}

.dropdown {
    cursor: pointer;
    position: relative;
    float: right;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2px;
    font-weight: bold;
}

.dropdown img {
    position: relative;
    margin-right: 10px;
}
  
.dropdown:hover {
    background-color: lightgrey;
    height: 44px;
}

.drop-nav {
    cursor: pointer;
    right: 0;
    margin-top: 1%;
    position: absolute;
    padding-left: 0;
    display: none;
    width: 200px;
}

.drop-nav a {
    text-decoration: none;
    color: white;
}

.drop-nav a:hover {
    color: black;
}

.drop-nav li:hover {
    background-color: lightgrey;
}
  
.drop-nav li {
    border-bottom: 1px solid rgba(255,255,255,.2);
    text-align: center;
    font-weight: bold;
}

.dropdown:hover > .drop-nav {
    display: block;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact {
    text-align: center;
    position: absolute;
    top: 10%;
    margin: auto;
    margin-left: 10%;
}

#contactForm {
    display: flex;
    font-weight: bold;
    max-width: 500px;
    width: 100%;
    margin-top: 10vh;
    margin-left: 15%;
}

footer {
    width: 100%;
    color: white;
	border: 2px solid #2c3e50;
	background-color: #2c3e50;
    position: fixed;
    justify-content: center;
    margin-top: 6%;
    bottom: 0;
    padding-top: 1%;
}