* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    color: #fff;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.main-nav,
.drop-nav {
    background: #2c3e50;
}

.main-nav {
    float: right;
    position: absolute;
    width: 100%;
    padding: 0;
    font-weight: bold;
}
   
.main-nav  a:hover {
    color: black;
}

.main-nav > li:hover {
    background-color: lightgrey;
}

.main-nav > li {
    float: left;
    height: 100%;
}
    
.main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    height: 100%;
}

.dropdown {
    cursor: pointer;
    position: relative;
    float: right;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2px;
    font-weight: bold;
}

.dropdown img {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
  
.dropdown:hover {
    cursor: pointer;
    background-color: lightgrey;
    height: 44px;
}

.drop-nav {
    cursor: pointer;
    right: 0;
    margin-top: 1%;
    position: absolute;
    padding-left: 0;
    display: none;
    width: 200px;
}

.drop-nav a {
    text-decoration: none;
    color: white;
}

.drop-nav a:hover {
    color: black;
}

.drop-nav li:hover {
    background-color: lightgrey;
}
  
.drop-nav li {
    border-bottom: 1px solid rgba(255,255,255,.2);
    text-align: center;
    font-weight: bold;
}

.dropdown:hover > .drop-nav {
    display: block;
}

#textdiv  {
    position: absolute;
    top: 25%;
    right: 10%;
}

.animated-text {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    animation: mymove 5s infinite alternate;
}

@keyframes mymove {
    0% {
        font-size: 50px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    100% {
        font-size: 120px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}

#myfoto {
    border: 5px solid black;
    position: absolute;
    top: 12%;
    left: 0;
    margin-left: 5%;
    height: 75%;
    z-index: -1;
}


footer {
    width: 100%;
    color: white;
	background-color: #2c3e50;;
    position: fixed;
    justify-content: center;
    margin-top: 6%;
    bottom: 0;
    padding-top: 1%;
}

