body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
}

header .home-header {
    position: relative;
    font-size: 25px;
    left: 2%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header .github-header {
    position: relative;
    left: 78%;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color:#2c3e50;
    text-decoration: underline;
    text-decoration-color: black;
}

.container {
    position: relative;
    margin-top: 10%;
}

.contact {
    position: relative;
    margin-bottom: 5%;
    margin-top: -12%;
}

#contactForm {
    margin-top: 0%;
}

#FormUsername:disabled {
    font-weight: bold;
    background-color: white;
    border: none;
}

#success {
    animation: cssAnimation 0s 3s forwards;
    visibility: visible;
}

#success_email {
    animation: cssAnimation 0s 3s forwards;
    visibility: visible;
}

@keyframes cssAnimation {
    to { visibility: hidden;}
}

h1 {
    margin: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 1%;
}