body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
}

sup {
    color: red;
}

header .home-header {
    float: left;
    padding: 1%;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color:#2c3e50;
    text-decoration: underline;
    text-decoration-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact {
    text-align: center;
    position: absolute;
    top: 20%;
    margin: auto;
    margin-right: 150px;
}

#contactForm {
    font-weight: bold;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-right: 470px;
}

h1 {
    margin: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#destra-password {
    position: relative;
    top: 10%;
    right: 5%;
    padding: 1%;
}

footer {
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 1%;
}